<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

 
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chatbot.profile -->
      <package
            uri="http://som-research.uoc.edu/profiles/chatbot/1.0"
            class="edu.uoc.som.oda.profiles.chatbot.ChatbotProfilePackage"
            genModel="resources/chatbot.profile.genmodel"/>
   </extension>

</plugin>
